/* Загальні стилі */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}
address {
    font-style: normal;
}
a {
    text-decoration: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* Стилі Хедер */


.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-element {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover {
    color: #404BBF;
}

.studio-li .menu-item:focus {
    color: #404BBF;
}

.studio {
    position: relative;
    color: #404BBF;
}

.studio::after {
    content:"";
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    position: absolute;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-item:hover {
    color: #404BBF;
}

.address .address-item:focus {
    color: #404BBF;
}

/*                      Стилі боді                      */

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

        /* секція Головного заголовка */
.title-box {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 48px;
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    background-size: cover;
    margin: 0 auto;
}

.title-box .container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 48px;
}

.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: auto;
    width: 496px;
    height: 120px;
}

.button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

        /* секція Послуги */

.features {
    padding: 120px 0
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-items {
    width: calc((100% - 72px) / 4);
}

.features-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* .icon {
    position: absolute;
    top: 24px;
    left: 100px;
} */
        
.categories-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.categories-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

        /* секція Наша команда */

.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.timets-box {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-content {
    padding: 32px 0;
}

.timets-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px
}

.timets-skill {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.list-sociale {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.item-sociale {
    width: 40px;
    height: 40px;
    position: relative;
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: #404bbf;
}
.link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

        /* секція Продукти */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-items-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.products-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.about-products {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*            Стилі футер             */

.footer-box {
    background-color: #2e2f42;
    padding: 100px 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-element {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 1440px;
}

.footer .link:hover {
    background-color: #31d0aa;
}

.footer .link:focus  {
    background-color: #31d0aa;
}

.footer-content-containet {
    margin-right: 120px;
}

.footer-list-sociale {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.footer-social-icon {
    fill: #f4f4fd;
    position: absolute;
}

.footer-grup-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 0 16px 0;
}

.footer-social {
    margin-right: 80px;
}

.footer-form-box {
    display: flex;
    flex-direction: column;
}

.footer-form input {
    border: 1px solid #fff;
    color: #FFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.form-placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.form-button-icon {
    fill: white;
    margin-left: 16px;
}

.footer-form input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
}



/*  ---------------МОДАЛЬНЕ ВІКНО------------------ */
/*  ----------------------------------------------- */



.modal-overlay {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    margin-bottom: 24px;
}

.modal-header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: #2e2f42;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFF;
}

.close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-filds {
    margin-bottom: 8px;
}

.input-form {
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-form:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus + .modal-icon {
    fill: #4D5AE5;
}

.comments-form {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments-form::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.comments-form:focus {
    border-color: #4D5AE5;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    flex-direction: column;
    margin-bottom: 4px;
}

.button-send {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;

    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}

.comments-filds {
    margin-bottom: 16px;
}

.policy-box {
    margin-bottom: 24px;
}

.policy-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    flex-direction: row;
    align-items: center;
}

.modalfild-wrap {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.checkbox-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 3px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-chek:checked + .policy-label span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 4px;
}